body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 12px 0px;
    border: 1px solid #ccc;
    border-top: none;
    width:70%;
    float:left;
}

.tabcontent *{
    margin: 5px;
}

.workerAdd, .workerRemove {
    display: none;
}

.strengthIcon {
    width: 20px;
}

#targetTable td{
    padding:0 15px 0 15px;
}

.armyDiv {
    display:inline-block;
    width: 40%; 
}

#resourceDiv, #tabMenu{
    float:left;
}

#resourceDiv {
    width:20%;
}

#tabMenu {
    width:70%;
}

#buildingsTable tr td {
    border: 1px solid black;
    padding: 4px;
    cursor: pointer;
}

#buildingsTable td {
    position: relative;
}

.progressBar {
    width: 0%;
    height: 100%;
    margin: 0px;
    background-color: rgb(25,25,25,0.3);
    position: absolute;
    left: 0;
    top: 0;
}